<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Deetz</title>
</head>
<body>
    <h1>Movie Deetz</h1>
    <form action="{{ url_for('search_movies') }}" method="post">
        <label for="search">Search for a movie:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for movie in results %}
        <li>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <h3>{{ movie.title }}</h3>
                    <p>release date: {{ movie.release_date }}</p>
                    <p>{{ movie.overview }}</p>
                </div>
                <img width="200px" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path}}" />
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>