<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>
<body>
<h2>New Task</h2>
    <form id="add-todo-form">
        <label for="title">Task:</label>
        <input type="text" name="title" id="todo-title">
        <button type="submit">Add todo</button>
        <p id="message"></p>
    </form>
<h2>Current Tasks</h2>
<ul id="todo-list"></ul>
<script src="../static/todos.js"></script>
<script src="../static/add_todo.js"></script>
</body>
</html>